@model List<City>

@{
    ViewData["Title"] = "GetCities";
    Layout = "_Layout";
}

<h3>Cities</h3>
<h5>@ViewBag.responseMessage</h5>

<table class="table">
    <thead>
        <tr>
            <th>
                 Name
            </th>
            <th>
                 About
            </th>
            <th>
                 Photo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var city in Model)
{   
        <tr>
            <td>
                <h5>@city.name</h5>
            </td>
            <td>
                @city.info
            </td>
            <td>
                 <img src=@("https://"+city.cityImage.Replace(" ", "%20")) height='300' width='350' >
            </td>
            <td>
                <button><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SetFavourites" asp-route-cityName="@city.name">Add</a></button>
                <p> 
                    <button><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RemoveFavourites" asp-route-cityName="@city.name">Remove</a></button>
                </p>
            </td>
        </tr>
}
    </tbody>
</table>
